certifi==2019.6.16
chardet==3.0.4
Click==7.0
cmake==3.15.3
cycler==0.10.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Login==0.4.1
Flask-WTF==0.14.2
future==0.17.1
idna==2.8
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.10.3
kiwisolver==1.0.1
lxml==4.4.1
MarkupSafe==1.1.1
matplotlib==3.0.3
monotonic==1.5
MouseInfo==0.1.2
numpy==1.15.4
passlib==1.7.1
Pillow==5.3.0
proglog==0.1.9
psutil==5.6.3
psycopg2==2.8.4
pyparsing==2.3.1
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.25
pyserial==3.4
python-dateutil==2.8.0
PyTweening==1.0.3
pytz==2018.7
PyYAML==5.1.2
requests==2.22.0
seaborn==0.9.0
serial==0.0.97
six==1.12.0
sklearn==0.0
tqdm==4.37.0
urllib3==1.25.3
websocket-client==0.55.0
Werkzeug==0.16.0
WTForms==2.2.1
