{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: rgba(0, 89, 179,0.85)" >
        <!--<a class="navbar-brand" asp-action="Index" method="post">Home</a>-->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item-active">
                    <a class="nav-link" href="/signedin" method="post">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/employees" method="post">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signout" method="post">Sign Out</a>
                </li>
            </ul>
        </div>
    </nav>
    
      {% for item in balance %}
      <p style="font-size: 18px; margin-top: 100px; margin-left: 100px" class="h4 mb-4">User name: {{item.user_name}}&emsp; Cash: {{item.cash}}&emsp; MobyCoin: {{item.mobyCoin}}</p>
      {% endfor %}
    </table>
    <!--<form action="/signout" method="post">
      <button type="submit" >Sign out</button>
    </form>-->
    <!--<form action="/signedin" method="post" style="margin-bottom: 30px">
      Name: <input type="text" name="Name" required>
      Cash: <input type="text" name="Cash" required>
      MobyCoin: <input type="text" name="MobyCoin" required>
      <input type="submit" value="Add">
    </form>-->


    <div style="margin-top: 50px">
    <div class="card card-body" style="float: left;margin-left: 100px">
    <h5 style="text-align: center" class="card-title">Money Commerce</h5>
    <form style="margin-top: 15px" action="/signedin" method="post">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <input class="form-control mb-2" type="text" name="CashtoMobyCoin"placeholder="Cash" required>
        </div>
        <div class="col-auto">
          <input type="submit" class="btn btn-primary mb-2" value="Buy MobyCoin">
        </div>
      </div>
    </form>
    <form style="margin-top: 15px" action="/signedin" method="post">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <input class="form-control mb-2" type="text" name="MobyCointoCash"placeholder="MobyCoin" required>
        </div>
        <div class="col-auto">
          <input type="submit" class="btn btn-primary mb-2" value="Sell MobyCoin">
        </div>
      </div>
    </form>
  </div>
    <div class="card card-body" style="float: right;margin-right: 100px">
    <h5 style="text-align: center" class="card-title">Money Transfers</h5>
    <form style="margin-top: 15px" action="/signedin" method="post">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <input class="form-control mb-2" type="text" name="TransferNameCash"placeholder="To whom" required>
        </div>
        <div class="col-auto">
          <input class="form-control mb-2" type="text" name="TransferAmountCash"placeholder="Cash" required>
        </div>
        <div class="col-auto">
          <input type="submit" class="btn btn-primary mb-2" value="Transfer Cash">
        </div>
      </div>
    </form>
    <form style="margin-top: 15px" action="/signedin" method="post">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <input class="form-control mb-2" type="text" name="TransferNameMobyCoin"placeholder="To whom" required>
        </div>
        <div class="col-auto">
          <input class="form-control mb-2" type="text" name="TransferAmountMobyCoin"placeholder="MobyCoin" required>
        </div>
        <div class="col-auto">
          <input type="submit" class="btn btn-primary mb-2" value="Transfer MobyCoin">
        </div>
      </div>
    </form>
  </div>
  <div class="card card-body" style="float: left;margin-left: 100px;margin-top: 50px">
    <h5 style="text-align: center" class="card-title">Add Cash</h5>
    <form style="margin-top: 15px" action="/signedin" method="post">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <input class="form-control mb-2" type="text" name="BuyCash"placeholder="Cash Amount" required>
        </div>
        <div class="col-auto">
          <input type="submit" class="btn btn-primary mb-2" value="Add Cash">
        </div>
      </div>
    </form>
  </div>
  
  </div>
  </body>
</html>
{% endblock %}