{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body style="margin-left: auto;margin-right: auto;width:500px">
    <form class="text-center border border-light p-5" action="/" method="post">
    {{ form.csrf_token }}
    {{ form.username(class='form-control mb-4', required=True, autofocus=True, placeholder='Username') }}
    {{ form.password(class='form-control mb-4',required=True, placeholder='Password') }}
    <input class="btn btn-info btn-block my-4" type="submit" value="Sign In">
    </form>
    <div style="text-align: center; margin-top: -25px"><p>Don't have an account yet? </p><a style="font-size: 18px" href="/signup" class="h4 mb-4">Sign Up</a></div>
  </body>
</html>
{% endblock %}